

.kcfCalander {
    top: -400px;
    margin-top: 20px;
    position: relative;
    height: 950px;
    width: 720px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(189, 189, 189, 0.317);
}

.Calander {
    height: 2000px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

.Calander button {
    color: #162c4e;
    position: relative;
    top: -12px;
    left: -5px;
    border: none;
    background-color: #162c4e00;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Calander button:hover {
    border: none;
    background-color: #162c4e00;
    color: #162c4e;
    font-size: 1.3rem;
}

.event1 {
    background-image: url(Img/UpcomingEvents.jpg);
    background-position: center;
    background-size: cover;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.event1 h1 {
    color: #000000;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-size: 4rem;
    font-weight: 500; 
}

.event2 {
    padding: 20px;
}

.BlueLogo {
    height: 100px;
    width: 100px;
}

.icon {
    border-radius: 50%;
}

.sidebar {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: #162c4e;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.497) 
}

#x {
    position: absolute;
    top: 37px;
    right: 41px;
    padding: 10px;
}

.sidebar ul {
    background-color: rgba(0, 255, 255, 0);
}

.sidebar li {
    padding-left: 40px;
    width: 100%;
    margin: 0;
    background-color: rgba(165, 42, 42, 0);
}

.sidebar a {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(127, 255, 212, 0);
}

nav {
    background-color: rgba(137, 43, 226, 0);
    position: absolute;
    right: 70px;
    top: 30px;
    padding-left: 60px;
}

.menu {
    display: none;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    height: 50px;
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

a:hover {
    color: #d1d1d1;
}

.dropdown li {
    display: block;
    margin: 0;
    padding: 5px;
    background-color: #2d2d2d;
}

.dropdown a {
    margin: 0;
    padding-top: 10px;
}

.dropdown li:hover {
    background-color: #343434;
}

ul li .dropdown {
    width: 250px;
    background-color: #3f3f3f;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 0px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.317);
}   


ul li:hover ul {
    display: block;
}



.info_li {
    position: relative;
    top: 80px;
    background-color: rgba(0, 255, 255, 0);
}

.logo {
    position: absolute; 
    height: 80px; 
    width: 130px; 
    padding: 1px;
    left: 20px;
    top: 28px;
    padding: 0px;
}

.logobottom {
    top: -20px;
    height: 120px;
    width: 120px;
    position: relative;
    left: 0;
    margin: 0;
}

header {
    padding: 35px;
    background-color: #162c4e;
}

footer {
    padding: 20px; 
    background-color: black; 
    color: rgb(108, 108, 108); 
    font-family: sans-serif; 
    text-align: center;
}

.sec1 {
    background-image: url(Img/kcfsec1:2.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
    background-color: rgb(255, 255, 255);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.sec1div1 {
    height: 50%; 
    width: 60%; 
    background-color: rgba(91, 0, 0, 0); 
    position: relative; 
    top: 200px;
}

.sec1div1 div {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0)
}

.sec1div1 h6 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    position: relative;
    color: white;
    font-size: 1.6rem;
    top: -25px;
    font-weight: 300;
    margin: 0;
    padding: 5px;
}

.sec1div2 {
    background-color: rgba(26, 226, 63, 0); 
    height: 42px;
    width: 100px;
    position: relative;
    top: 0px;
}

.sec1 p {
    position: absolute;
    color: rgb(255, 255, 255); 
    text-align: center; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
    font-size: 20px; 
    top: 250px;
    line-height: 30px;
}

.sec1 button {
    max-width: 100px;
    background-color: #162c4e00;
    border: #ffffff;
    border-width: 2px;
    border-style: solid;
    color: #ffffff;
    cursor: pointer; 
}

.sec1 button:hover {
    background-color: #ffffff;
    color: #162c4e;
}

.sec2 {padding: 100px;}

.sec2 p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 30px;
    font-size: 1.1rem;
}

.sec3 {
    background-color: #eaeaea;
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 60px;

}

.sec3 img {
    height: 360px;
    width: 360px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgb(164, 164, 164);
}

.sec3 h3 {
    color: #000000;
    margin: 0;
}

.sec3 div {
    height: 300px;
    width: 300px;
    background-color: #cecece;
}

.sec4 {
    padding: 50px; 
    background-color: rgb(255, 255, 255); 
    display: flex;
}

.sec4 p {
    margin: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    font-size: 1.1rem;
    padding-bottom: 40px;
}

.giv4 {
    padding: 50px; 
    background-color: rgb(255, 255, 255); 
    display: flex;
    margin: 0;
    
}

.sec5 {
    background-color: #ffffff; 
    display: flex; 
    padding: 40px;
    flex-wrap: wrap;
    row-gap: 50px;
}

.sec6 {
    padding: 100px; 
    background-color: #eaeaea; 
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
}

.sec6 h3 {
    color: #000000;
}

.sec6 div {
    height: 290px; 
    width: 528px; 
    background-color: #eaeaea; 
    position: relative;
    border-radius: 10px;
    
}

.media_div {
    border-radius: 10px;
    box-shadow: 0 0 30px #3f3f3f;
    height: 100%;
}

.sec6 p {color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    top: 100px;
    position: absolute;
    line-height: 30px;
    font-size: 1.1rem;
}

.sec6 iframe {
    border-radius: 10px;
    height: 500px;
    width: 530px;
}

.sec6 button {max-width: 135px; 
    background-color: #eaeaea; 
    border: #000000; 
    border-width: 2px; 
    border-style: solid; 
    display: flex; 
    text-align: center; 
    position: relative; 
    top: 100px;
    color: #000000;
}

.sec6 button:hover {
    text-decoration: none; 
    background-color: #000000; 
    color: #e8e8e8;
    border: #000000;
    height: 43px;
}

.sec7 {
    padding: 100px;
    background-color: #162c4e;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

.sec7 div {
    height: 200px;
    width: 250px;
    background-color: #244e1600;
    position: relative;
}

.sec7 ul {
    display: block;
    padding: 0;
    margin: 0;
}

.sec7 li {
    padding: 0;
    margin: 0;
    position: relative;
    left: -15px;
    height: 30px;
}

.sec7 a {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.sec7 a:hover {
    text-decoration: underline;
}

.sec7 h6 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 20px;
}

a:hover {
    text-decoration: none;
}

.sermons {
    max-width: 130px; 
    background-color: #162c4e;
}

div {
    background-color: #162c4e; 
    margin: auto; 
    display: flex; 
    flex-direction: column;
}

.sec4 div img {
    height: 150px;
    width: 150px;
    display: flex;
    margin: auto;
    position: relative;
    top: 0px;
}

.sec4 div p {
    font-family: sans-serif;
    text-align: center;
}

.sec4 h4 {
    margin: 30px;
}

h1 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    font-weight: 500; 
    color: white; 
    text-align: center; 
    top: 30px;
}

h2 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    top: -40px;
    position: relative;
}

h3 {
    color: #ffffff;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 0px;
    padding: 10px;
    font-size: 40px;
    top: -40px;
    text-align: center;
}

h4 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

h5 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: -80px;
}

h6 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.sap-embed-player {
    border-radius: 0;
}

body {
    margin: 0px;
    padding: 0px;
}

#form {
    position: absolute;
    display: flex; 
    flex-direction: column; 
    left: 65px; 
    top: 145px; 
    color: #000000; 
    font-family: sans-serif;
}

input, textarea {
    position: relative;
    width: 320px;
    padding: 10px;
    margin-bottom: 20px;
    border: 0px solid #ccc;
    border-radius: 4p;
    background-color: #eaeaea;
    border-radius: 5px;
}
    
button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: #000000; 
    border-width: 2px; 
    border-style: solid;
}

button:hover {
    background-color: #000000; 
    border: #000000; 
    border-width: 2px; 
    border-style: solid; 
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
}

.container {
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    display: flex; 
    margin: auto;
}

.connect_card {
    height: 100%;
    width: 100%;
}

.giving {
    position: relative; 
    background-color: rgb(255, 255, 255);
    margin: auto;
    height: 100%;
    width: 100%;
    margin: 30px;
}

button {margin: auto;}

.sec1button {
    background-color: rgb(255, 255, 255); 
    position: absolute; 
    text-align: center; 
    max-width: 100px;
}

.Media1 {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.Media1 button {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Media2 {
    padding: 50px;
}

.Media1 h1 {
    text-align: center;
    top: 90px;
    position: relative;
}

.giving_header {
    background-image: url(Img/giving_header.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.giving_header h1 {
    position: relative;
    top: -80px;
}

.give1 {
    padding: 20px;
}

.give1 p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 30px;
    font-size: 1.1rem;
}

.give1 div {
    height: 100%; 
    width: 50%; 
    background-color: #ffffff;
}

.give2 {
    padding: 50px; 
    background-color: rgb(255, 255, 255); 
    display: flex;
}

.give2 p {
    margin: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    font-size: 1.1rem;
}

.give2 h6 {
    text-align: left;
    padding-left: 10px;
    margin: 20px;
}

.new1 {padding: 20px;}

.new1 div {
    height: 200px;
    width: 500px;
    background-color: #ffffff
}

.new1 p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 30px;
}

.new1 h4 {
    font-size: 40px;
}

.new2 {
    padding: 50px;
    background-color: #eaeaea;
    display: flex;
    position: relative;
}

.new2 div {
    height: 200px;
    width: 200px;
    background-color: #eaeaea; 
    align-items: center;
}

.new2 p {
    text-align: center;
    top: 80px;
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;
}

.new2 h6 {
    color: #000000;
    position: absolute;
    top: 60px;
    margin: auto;
    min-width: 200px;
}

.new3 {
    padding: 40px;
    margin-bottom: 0px;
}

.new3 h4 {
    font-size: 40px;
}

.new3 div {
    height: 100%;
    width: 60%;
    background-color: #ffffff;
}

.new3 p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.new4 {
    display: flex;
    padding: 40px;
}

.new4 h3 {
    color: #000000;
}

.Mission_Header {
    background-image: url(Img/Mission_Vision.png);
    background-position: center;
    background-size: cover;
    height: 500px;
}

.Mission_Header h1 {
    box-shadow: none;
    position: relative;
    top: -80px;
}

.mission1 {
    padding: 40px;
    background-color: #ffffff;
}

.mission2 {
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
}

.mission2 h6 {
    font-size: 1.5rem;
}

.mission2 div {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 80px;
}

.mission2 p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    font-size: 1.1rem;
}

.Believe_Header {
    background-image: url(Img/WhatWeBelieve.png);
    background-position: center;
    background-size: cover;
    height: 500px;
}

.Believe_Header h1 {
    text-align: center;
    position: relative;
    top: -80px;
}

.Believe1 {
    padding: 20px;
    background-color: #ffffff;
    padding-bottom: 80px;
}

.Believe1 div {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
}

.Believe1 p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    font-style: normal;
    text-align: center;
    line-height: 30px;
}

.Believe1 h6 {
    font-size: 30px;
}

.Story_Header {
    background-image: url(Img/kcfsec1:2.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.Story_Header h1 {
    position: relative;
    top: -80px;
}
.Story1 {
    padding: 100px;
}


.Story2 div {
    height: 100%;
    width: 1500px;
    background-color: #f2090900;
}

.Story2 {
    display: flex;
    padding: 40px;
    background-color: #ffffff;
}

.Story1 h6 {
    color: #000000;
    position: relative;
    top: -40px;
}

.Story1 p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    font-size: 1.1rem;
}


.Story2 img {
    padding: 100px;
    position: relative;
    bottom: 43px;
}

.Story2 p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    text-align: left;
    padding: 60px;
    position: relative;
    bottom: 30px;
    font-size: 1.1rem;
}

.Story2 h6 {
    color: #000000;
    font-size: 2rem;
    margin: 0;
    padding: 60px;
    text-align: left;
}

.Zach_img {
    height: 200px;
    width: 200px;
    position: relative;
    background-color: rgba(100, 148, 237, 0);
}

.Story3 div {
    height: 400px;
    width: 600px;
    background-color: #ae999900;
}

.Story3 {
    display: flex;
    padding: 40px;
    background-color: #eaeaea;
    flex-wrap: wrap;
    row-gap: 0px;
}

.Story3 h6 {
    color: #000000;
    position: relative;
    top: 20px;
    font-size: 2rem;
    margin: 0;
    padding: 60px;
}

.Story3 p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    font-size: 1.1rem;
}

.Story3 img {
    height: 100%;
    width: 100%;
    padding-top: 73px;
    position: relative;
    bottom: 43px;
    background-color: rgba(137, 43, 226, 0);
}

.Story3 p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    padding: 60px;
    position: relative;
    bottom: 30px;
}

.Story3 h6 {
    color: #000000;
}

.ri-movie-line {
    height: 40px;
    width: 40px;
}

.Story4 div {
    height: 400px;
    width: 500px;
    background-color: #e21f1f00;
}

.Story4 {
    display: flex;
    padding: 40px;
    background-color: #ffffff;
    padding-bottom: 0;
    flex-wrap: wrap;
    row-gap: 0px;
}

.Story4 h6 {
    color: #000000;
    position: relative;
    top: 20px;
    font-size: 2rem;
}

.Story4 p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.Story4 img {
    padding: 100px;
    border-radius: 10px;
    position: relative;
    bottom: 43px;
}

.Story4 p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    padding: 60px;
    position: relative;
    bottom: 30px;
}

.Story4 h6 {
    color: #000000;
}


.Volunteer1 {
    padding: 0px;
    height: 700px;
    width: 100%;
}

.Nursery1 {
    padding: 100px;
    
}

.Nursery1 div {
    background-color: #ffffff;
    height: 100%;
    width: 65%;
}

.Nursery1 h3 {
    color: #000000;
    font-size: 25px;
}

.Nursery1 p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    
}

.Nursery1 h6 {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 50px;
}

.Nursery2 {
    padding: 0;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 100px;
    flex-wrap: wrap;
    row-gap: 50px;
}

.Nursery2 div {
    height: 300px;
    width: 300px;
    background-color: #ccc;
    box-shadow: 10px 10px 10px rgb(185, 185, 185);
}

.Nursery3 {
    padding: 100px;
    background-color: #eaeaea;
}

.Nursery3 div {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: #15941100;
}

.Nursery3 div div {
    height: 250px;
    width: 300px;
    background-color: #91272700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.Nursery3 p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.Nursery3 h5 {
    position: relative;
    font-size: 30px;
    padding: 0;
    margin: 0;
    top: -10px;
}

.Nursery3 h6 {
    min-width: 200px;
}

.Leadership1 {
    display: flex;
    padding: 100px;
    background-color: rgba(0, 255, 255, 0);
}

.Nicky {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    top: 20px;
}

.Leadership_Header {
    background-image: url(Img/Leadership_Header.png);
    background-position: center;
    background-size: cover;
    height: 500px;
}

.Leadership_Header h1 {
    position: relative;
    top: -80px;
}

.Leadership1 div {
    padding-left: 100px;
    background-color: #ffffff;
}

.Leadership1 button {
    max-width: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    left: 500px;
    bottom: 120px;
}

.Leadership1 p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.Leadership1 h2 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
}

.Leadership2 {
    display: flex;
    padding: 100px;
}

.Leadership2 div {
    padding-left: 100px;
    background-color: #ffffff;
}

.Leadership2 p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.Leadership2 h2 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
}

.Leadership2 button {
    max-width: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    left: 500px;
    bottom: -380px;
}

.Leadership3 {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 100px;

}

.Leadership_map {
    position: relative;
    background-color: #eaeaea;
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    height: 500px;
    display: flex;
}

.Leadership3 h2 {
    font-size: 30px;
    position: relative;
    top: 10px;
}

.Contact1 {
    padding: 0px;
    background-color: #ffffff;
}

.Contact1 div {
    height: 500px;
    width: 100%;
    background-color: #ffffff;
}

.Children1 img {
    height: 100%;
    width: 100%;
}

.Children1 {
    padding: 0;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 100px;
    flex-wrap: wrap;
    row-gap: 50px;
}

.Children1 div {
    height: 300px;
    width: 450px;
    background-color: #ccc;
    box-shadow: 10px 10px 10px rgb(185, 185, 185); 
}

.WatchLive {
    padding: 100px;
    margin: 100px;
}

.Missions {
    background-image: url(Img/Coming\ Soon.png);
    background-position: center;
    background-size: cover;
    height: 900px;
    background-color: rgb(255, 255, 255);
}


@media (max-width: 1200px) {
    

    .menu {
        display: flex;
    }

    .HideOnMoble {
        display: none;
    }

    .sec4 {
        flex-direction: column;
        justify-content: center;
    }

    .giving {
        width: 100%;
    }

    .WatchLive {
        margin: 0;
    }
}

@media (max-width: 1020px) {
    .sec1 h1 {
        font-size: 3rem;
    }
}

@media (max-Width: 950px) {
    .Nursery3 div {
        background-color: rgba(165, 42, 42, 0);
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .Nursery3 div div {
        height: 50%;
        width: 80%;
        padding: 0;
    }

    .Nursery3 h5 {
        top: 60px;
    }
}

@media (max-width: 800px) {
    .container {
        display: none;
    }

    .Nursery1 div {
        width: 100%;
    }

    .sec4 div img {
        display: none;
    }
}

@media (max-width: 750px) {
    .sidebar{
        width: 100vw;
    }

    .kcfCalander {
        height: 450px;
        width: 340px;
        top: -700px;
    }
}

@media (max-width: 700px) {

    .info_li {
        text-align: center;
        padding: 80px;
    }

    .logobottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info_div a { 
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
    }

    #x {
        position: absolute;
        top: 17px;
        right: 21px;
    }

    nav {
        top: 10px;
        right: 50px;
    }

    header {
        padding: 15px;
    }

    .logo {
        top: 15px;
        left: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 2rem;
    }

    .sec1 h1 {
        font-size: 2rem;
    }

    .sec1div1 h6 {
        font-family: "Lato", sans-serif;
        color: white;
        font-size: 1rem;
        top: -8px;
        font-weight: 300;
        margin: 0;
        padding: 5px;
    }

    .sec1 {
        height: 550px;
    }

    .sec1 p {
        top: 120px;
        font-size: 1rem;
    }

    .sec1div1 {
        top: 120px;
        width: 80%;
    }

    .sec2 {
        padding: 40px;
        padding-top: 80px;

    }

    .sec3 {
        padding: 40px;
    }

    .sec3 h3 {
        top: -20px;
        font-size: 2rem;
    }

    .sec4 {
        padding: 10px;
        margin: 0;
    }

    .sec4 h4 {
        position: relative;
        font-size: 2rem;
        padding: 30px;
        top: 10px;
    }

    .sec4 div p {
        padding: 20px;
        margin: 0;
        margin-bottom: 40px;
        margin: 25px;
    }

    .sec6 {
        padding: 20px;
    }

    .sec6 div {
        background-color: #162c4e00;
        padding-bottom: 0px;
        padding-bottom: 130px;
    }

    .sec6 iframe {
        position: relative;
        top: 80px;
    }

    .sec6 button {
        bottom: 200px;
    }

    .sec5 {
        padding: 0;
    }

    .media_div {
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .giving {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .logo {
        height: 50px;
        width: 80px;
        padding: 5px;
    }

    .giving_header {
        height: 500px;
    }

    .giving_header h1 {
        top: 0px;
        font-size: 3rem;
    }

    .give1 {
        padding: 40px;
        background-color: #ffffff;
    }

    .give1 div {
        margin: 0;
        margin: auto ;
        width: 100%;
    }

    .give2 {
        flex-direction: column;
        padding: 20px;
    }

    .give2 h6 {
        text-align: center;
    }

    .give2 p {
        text-align: center;
    }

    .Mission_Header {
        height: 500px;
    }

    .Mission_Header h1 {
        top: -30px;
        font-size: 3rem;
    }

    .mission2 {
        padding: 10px;
    }

    .Believe_Header {
        height: 500px;
    }

    .Believe_Header h1 {
        top: -30px;
        font-size: 3rem;
    }

    .Believe1 div {
        width: 100%;
    }

    .Story_Header {
        height: 500px;
    }

    .Story_Header h1 {
        top: 0px;
        font-size: 3rem;
    }
        

    .Story2 {
        padding: 0;
    }

    .Story2 h6 {
        text-align: center;
        font-size: 1.5rem;
        bottom: 30px;
    }

    .Story2 p {
        padding: 40px;
        text-align: center;
    }

    .Story3 p {
        position: relative;
        top: -50px; 
        padding: 0px;
    }

    .Story3 div {
        padding-bottom: 60px;
    }

    .Story3 h6 {
        top: -50px;
        font-size: 1.5rem;
    }

    .Story4 {
        padding: 10px;
    }

    .Story4 p {
        top: -80px;
    }

    .Leadership_Header {
        height: 500px;
    }

    .Leadership1 {
        display: flex;
        flex-direction: column;
        padding: 40px;
        justify-content: center;
    }

    .Leadership_Header h1 {
        font-size: 3rem;
        top: 10px;
    }

    .Leadership1 h2 {
        text-align: center;
    }

    .Leadership1 p {
        padding-top: 20px;
        text-align: center;
    }

    .Leadership1 div {
        padding: 0;
    }

    .Nicky {
        margin: auto;
        margin-bottom: 60px;
        height: 200px;
        width: 200px;
        
    }

    .Leadership2 {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .Leadership2 h2 {
        text-align: center;
    }

    .Leadership2 p {
        padding-top: 20px;
        text-align: center;
    }

    .Leadership2 div {
        padding: 0;
        margin-bottom: 40px;
    }

    .Leadership3 {
        display: none;
    }

    .Nursery1 {
        padding: 40px;
    }

    .Nursery1 div {
        padding: 0;
        margin: 0;
        margin: auto;
    }

    .Nursery3 {
        padding: 0px;
        margin: 0;
    }

    .Media1 {
        padding: 0;
        margin: 0;
    }

    .Media1 div {
        height: 100%;
        width: 80%;
        display: none;
    }

    .Media1 iframe {
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .Media2 {
        padding: 20px;
        margin: 0;
    }

    .new1 {
        padding: 40px;
    }

    .new1 h4 {
        font-size: 2rem;
    }

    .new1 div {
        width: 100%;
        padding-bottom: 60px;
    }

    .new2 {
        padding: 40px;
    }

    .new2 h6 {
        top: 85px;
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .new2 div {
        display: flex;
        background-color: #596a8300;
        width: 1000px;
        height: 300px;
    }

    .new2 p {
        position: relative;
        top: 150px;
    }

    .new3 {
        padding: 40px;
    }

    .new3 h4 {
        font-size: 2rem;
    }

    .new3 div {
        width: 100%;
        padding-bottom: 40px;
    }

    .Contact1 {
        padding: 20px;
    }

    .Volunteer1 {
        padding: 0px;
        height: 550px;
        width: 100%;
    }


    .WatchLive {
        padding: 40px;
    }

    .sidebar li {
        
    }

    .HideNav {
        display: none;
    }



}

@media (max-width: 600px) {
    .sec6 iframe {
        position: relative;
        height: 100%;
        width: 360px;
        top: 80px;
    }

    .sec6 div {
        background-color: #5ed81800;
        height: 200px;
        display: flex;
        align-items: center;
        width: 400px;
        margin-top: -20px;
    }

    .sec6 p {
        top: 60px;
    }
}

@media (max-width: 550px) {

    .sec3 img {
        height: 300px;
        width: 300px;
    }

    .sec4 {
        padding: 0;
    }

    .sec6 button {
        max-width: 135px; 
    background-color: #eaeaea; 
    border: #000000; 
    border-width: 2px; 
    border-style: solid; 
    display: flex; 
    text-align: center; 
    position: relative; 
    top: 100px;
    }
}

@media (max-width: 500px) {
    .sec6 iframe {
        height: 100%;
        width: 330px;
    }

    .event2 {
        padding: 0;
        margin: 10px;
    }
}

@media (max-width: 450px) {
    .sec3 {
        padding: 0px;
        padding-top: 30px;
        row-gap: 30px;
        padding-bottom: 30px;
    }
}






@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
